<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>Angular.js by Example | Ken-Lauren Daganio</title>

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/moon.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
		<script src="js/angular.min.js"></script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
        <section>
          <img src="img/angular.png" width="300px">
					<h1>Angular.js by example</h1>
					<p>
            FEU Institute of Technology <br>
            22 April 2015
					</p>
				</section>

        <section>
					<h1>@kendaganio</h1>
					<p>
            Rubyist, Javascripter ???, lover of beer.
					</p>
				</section>

        <section data-background="img/angular-website.png">
				</section>

				<section>
					<h2>What the html is that?</h2>
        </section>

        <section class="left">
          <h3>Example 0</h3>
          <h1>A greeter!</h1>
        </section>

        <section ng-app="greeter" class="left">
          <input type="text" ng-model="name" placeholder="Who?">
          <h1>Hello {{name}}!</h1>
          <script type="text/javascript" charset="utf-8">
            angular.module('greeter', []).controller('GreetingCtrl', function(){});
          </script>
				</section>

        <section data-background="darkred">
          <h2>jQuery</h2>
          <pre><code data-trim contenteditable>
<input type="text" id="name" placeholder="Who?">
<h1 id="greeting"></h1>
          </code></pre>

          <pre><code data-trim contenteditable>
$("#name").on('keyup', function(e) {
  var el = $(this)
  $("#greeting").text("Hello " + el.val() + "!");
});
          </code></pre>
        </section>

        <section data-background="darkslategray">
          <h2>Angular</h2>
          <pre><code data-trim contenteditable>
<div ng-app>
  <input type="text" ng-model="name" placeholder="Who?">
  <p>Hello {{name}}!</p>
</div>
          </code></pre>
				</section>

        <section>
          <img src="img/sorcery.jpg" width="100%">
        </section>

        <section>
          <h2>Angular</h2>
          <pre><code data-trim contenteditable>
<div ng-app>
  <input type="text" ng-model="name" placeholder="Who?">
  <p>Hello {{name}}!</p>
</div>
          </code></pre>
          <span class="fragment">ng-app</span>
          <span class="fragment">| ng-model</span>
          <span class="fragment">| {{name}}</span>
        </section>

        <section>
          <h1>Data binding!</h1>
        </section>

        <section>
          <img src="img/1way.png" width="100%">
        </section>

        <section>
          <img src="img/2way.png" width="100%">
        </section>

        <section class="left">
          <h3>Example 1</h3>
          <h1>The good 'ole todo.</h1>
        </section>

        <section id="todo" ng-app="todo" ng-controller="TodoCtrl" class="left">
          <form name="form" ng-submit="addTodo(form)">
            <input type="text" ng-model="newTodo" placeholder="What?">
          </form>
          <ul>
            <li ng-repeat="todo in todos">
              {{todo.name}}
            </li>
          </ul>
          <script type="text/javascript" charset="utf-8">
            angular.module('todo', []).controller('TodoCtrl', function($scope){
              $scope.todos = []

              $scope.addTodo = function(form) {
                $scope.todos.push({
                  name: $scope.newTodo,
                  done: false
                });
                $scope.newTodo = ''
              };
            });
            angular.bootstrap(document.getElementById("todo"), ['todo']);
          </script>
        </section>

        <section>
          <h2>Example 1</h2>
          <pre><code data-trim contenteditable>
<form name="form" ng-submit="addTodo(form)">
  <input type="text" ng-model="newTodo" placeholder="What?">
</form>
<ul>
  <li ng-repeat="todo in todos">
    {{todo.name}}
  </li>
</ul>
          </code></pre>
          <pre><code data-trim contenteditable>
angular.module('todo', []).controller('TodoCtrl', function($scope){
  $scope.todos = []

  $scope.addTodo = function(form) {
    $scope.todos.push({
      name: $scope.newTodo,
      done: false
    });
    $scope.newTodo = ''
  };
});
          </code></pre>
        </section>

        <section class="left">
          <h3>Example 1.1</h3>
          <h1>Crossing things off.</h1>
        </section>

        <section id="todo2" ng-app="todo2" ng-controller="TodoCtrl" class="left">
          <form name="form" ng-submit="addTodo(form)">
            <input type="text" ng-model="newTodo" placeholder="What?">
          </form>
          <ul>
            <li ng-repeat="todo in todos" ng-class="{'strikeout': todo.done}">
              <a href="" ng-click="done(todo)">[x]</a> {{todo.name}}
            </li>
          </ul>
          <script type="text/javascript" charset="utf-8">
            angular.module('todo2', []).controller('TodoCtrl', function($scope){
              $scope.todos = []

              $scope.addTodo = function(form) {
                $scope.todos.push({
                  name: $scope.newTodo,
                  done: false
                });
                $scope.newTodo = ''
              };

              $scope.done = function(todo) {
                todo.done = true;
              }
            });
            angular.bootstrap(document.getElementById("todo2"), ['todo2']);
          </script>
        </section>

        <section>
          <h2>Example 1.1</h2>
          <pre><code data-trim contenteditable>
<form name="form" ng-submit="addTodo(form)">
  <input type="text" ng-model="newTodo" placeholder="What?">
</form>
<ul>
  <li ng-repeat="todo in todos" ng-class="{'strikeout': todo.done}">
    <a href="" ng-click="done(todo)">[x]</a> {{todo.name}}
  </li>
</ul>
          </code></pre>
          <pre><code data-trim contenteditable>
angular.module('todo2', []).controller('TodoCtrl', function($scope){
  $scope.todos = []

  $scope.addTodo = function(form) {
    $scope.todos.push({
      name: $scope.newTodo,
      done: false
    });
    $scope.newTodo = ''
  };

  $scope.done = function(todo) {
    todo.done = true;
  }
});
          </code></pre>
        </section>

        <section class="left">
          <h3>Example 1.2</h3>
          <h1>Finishing up!</h1>
        </section>

        <section id="todo3" ng-app="todo3" ng-controller="TodoCtrl" class="left">
          <form name="form" ng-submit="addTodo(form)">
            <input type="text" ng-model="newTodo" placeholder="What?">
          </form>
          <ul>
            <li ng-repeat="todo in todos" ng-class="{'strikeout': todo.done}">
              <a href="" ng-click="done(todo)">[x]</a> {{todo.name}}
            </li>
          </ul>
          <p>
            {{pendingTodos()}} of {{todos.length}} done.
            <span ng-show="pendingTodos() == todos.length && todos.length != 0">All done, congrats!</span>
          </p>
          <script type="text/javascript" charset="utf-8">
            angular.module('todo3', []).controller('TodoCtrl', function($scope){
              $scope.todos = []

              $scope.addTodo = function(form) {
                $scope.todos.push({
                  name: $scope.newTodo,
                  done: false
                });
                $scope.newTodo = ''
              };

              $scope.done = function(todo) {
                todo.done = true;
              }

              $scope.pendingTodos = function() {
                var count = 0;
                angular.forEach($scope.todos, function(todo) {
                  if(todo.done) count += 1
                });
                return count
              }
            });
            angular.bootstrap(document.getElementById("todo3"), ['todo3']);
          </script>
        </section>

        <section>
          <h2>Example 1.2</h2>
          <pre><code data-trim contenteditable>
<p>
  {{pendingTodos()}} of {{todos.length}} done.
  <span ng-show="pendingTodos() == todos.length && todos.length != 0">
    All done, congrats!
  </span>
</p>
          </code></pre>
          <pre><code data-trim contenteditable>
$scope.pendingTodos = function() {
  var count = 0;
  angular.forEach($scope.todos, function(todo) {
    if(todo.done) count += 1
  });
  return count
}
          </code></pre>
        </section>

        <section class="left">
          <h3>Example 2</h3>
          <h1>Filters</h1>
        </section>

        <section id="filtering" ng-app="filtering" ng-controller="FilterCtrl">
          <pre ng-non-bindable><code data-trim contenteditable>
Today is {{today | date}}
You have {{largeNumber | currency}} pesos
This phrase is capitalized: {{someRandomText | uppercase}}
          </code></pre>
          <p>
            Today is {{today | date}} <br>
            You have {{largeNumber | currency}} pesos <br>
            This phrase is capitalized: {{someRandomText | uppercase}}
          </p>
          <script type="text/javascript" charset="utf-8">
            angular.module('filtering', []).controller('FilterCtrl', function($scope){
              $scope.today = new Date()
              $scope.largeNumber = 12.34567686
              $scope.someRandomText = "Hello, world"
            });
            angular.bootstrap(document.getElementById("filtering"), ['filtering']);
          </script>
        </section>

        <section class="left">
          <h3>Example 3</h3>
          <h1>Basic search</h1>
        </section>

        <section id="search" ng-app="search" ng-controller="SearchCtrl" class="left">
          <input type="text" ng-model="searchText" ng-change="startSeach()" placeholder="What?"><br>
          <ul>
            <li ng-repeat="class in classes | filter:searchText">
              {{class.name}} - {{class.grade | number:2}}
            </li>
          </ul>
          <script type="text/javascript" charset="utf-8">
            angular.module('search', []).controller('SearchCtrl', function($scope){
              $scope.classes = [
                {name: 'ICT Trends', grade: 3},
                {name: 'System Analysis & Design', grade: 4},
                {name: 'Thesis', grade: 2.5},
                {name: 'Compiler', grade: 2.0},
                {name: 'Programming Languages', grade: 3.5}
              ]
            });
            angular.bootstrap(document.getElementById("search"), ['search']);
          </script>
        </section>

        <section>
          <h2>Example 3</h2>
          <pre><code data-trim contenteditable>
<input type="text" ng-model="searchText" placeholder="What?">
<ul>
  <li ng-repeat="class in classes | filter:searchText">
    {{class.name}} - {{class.grade | number:2}}
  </li>
</ul>
          </code></pre>
          <pre><code data-trim contenteditable>
angular.module('search', []).controller('SearchCtrl', function($scope){
  $scope.classes = [
    {name: 'ICT Trends', grade: 3},
    {name: 'System Analysis & Design', grade: 4},
    {name: 'Thesis', grade: 2.5},
    {name: 'Compiler', grade: 2.0},
    {name: 'Programming Languages', grade: 3.5}
  ]
});
          </code></pre>
        </section>

        <section>
          <h1>Cool. but why?</h1>
        </section>

        <section>
          <h1>Words!</h1>
          <h2>
            <span class="fragment">Fast</span>
            <span class="fragment">, Maintainable</span>
            <span class="fragment">, Extensible</span>
            <span class="fragment">, Testable</span>
          </h2>
        </section>

        <section>
          <h1>Further reading</h1>
          <p>
            https://angularjs.org<br>
            https://egghead.io<br>
            https://thinkster.io/a-better-way-to-learn-angularjs/
          </p>
        </section>

        <section>
          <h1>Thank you!</h1>
          <h3>@kendaganio</h2>
        </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'fade', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
